@tailwind base;
@tailwind components;
@tailwind utilities;



.bg{
    background-image: url(./assets/IMG_4115.WEBP);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
    
}

@media (max-width: 768px) {
    .bg {
        background-image: url(./assets/IMG-20240901-WA0004.jpg);
        position: relative;
        height: 100vh;
        margin-top: 00px;
        width: 100;
        
        
    }
}
