@tailwind base;
@tailwind components;
@tailwind utilities;



.bg{
    background-image: url(./assets/IMG_4115.WEBP);
    height: 110vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}